@model System.Data.Entity.DbSet<klaravictor.Models.RvspModel>
<html>
<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Namn</th>
        <th>E-post</th>
        <th>Kommer</th>
        <th>Matinfo</th>
        <th>Boende</th>
        <th>Antal nätter</th>
        <th>Kommentar</th>
    </tr>
    </thead>
    @foreach (var m in Model)
    {
        <tbody>
        <tr>
            <td>@m.Name</td>
            <td>@m.Email</td>
            <td>@m.Attending</td>
            <td>@m.FoodInfo</td>
            <td>@m.Accommondation</td>
            <td>@m.NumberOfNights</td>
            <td>@m.Comment</td>
        </tr>
        </tbody>
    }
</table>
    <div>
    </div>
</body>
</html>
