@Html.Partial("~/Views/Partials/_IntroPartial.cshtml")

@Html.Partial("~/Views/Partials/_WeddingInfoPartial.cshtml")

@Html.Partial("~/Views/Partials/_AccommodationInfoPartial.cshtml")

<div id="rvsp">
    @Html.Partial("~/Views/Partials/_RvspPartial.cshtml")
</div>

@Html.Partial("~/Views/Partials/_MapsPartial.cshtml")

@Html.Partial("~/Views/Partials/_WishlistPartial.cshtml")

@Html.Partial("~/Views/Partials/_ContactPartial.cshtml")



